:host {
  display: grid;
  place-content: center;
  block-size: 100%;
}

.page-title {
  font-size: 4rem;
  line-height: 4;
  background-image: linear-gradient(to right, var(--app-color-hot-pink), var(--app-color-magenta));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
