:host {
  display: flex;
  justify-content: center;

  > * {
    inline-size: 600px;
    background: var(--app-color-surface-3);
    padding-inline: 18px;
    padding-block: 18px;
    border-radius: var(--app-shape-small);
  }
}
