@use 'variables' as vars;
@use 'layout';

header,
nav {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

header {
  gap: 40px;
  padding-inline: var(--app-site-header-footer-padding);
  padding-block: var(--app-site-header-footer-padding);
  block-size: var(--app-site-header-block-size);
  background: vars.$surface-color-1;
  overflow: hidden;
}

nav {
  inline-size: 100%;
  gap: 20px;
}

.nav-link {
  font-size: 1.2rem;
}

mat-icon.profile {
  --_icon-size: 36px;

  font-size: var(--_icon-size);
  width: var(--_icon-size);
  height: var(--_icon-size);
  line-height: var(--_icon-size);
}
