header,
nav {
  display: flex;
  justify-content: stretch;
  align-items: center;
}

header {
  gap: 40px;
  padding-inline: var(--app-site-header-footer-padding);
  block-size: var(--app-site-header-block-size);
  background: var(--app-color-background);
  overflow: hidden;
}

nav {
  inline-size: 100%;
  gap: 20px;
}

.nav-link {
  font-size: 1.2rem;
}

.brand {
  font-size: 1.9em;
  line-height: 1.9;
  font-weight: 600;
  background-image: var(--app-color-linear-gradient-primary-accent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mdc-fab {
  --_color: var(--app-color-text-dark-1);

  background: transparent;
  border: 1px solid var(--_color);
  color: var(--_color);

  &:hover {
    --_color: var(--app-color-accent);
  }
}
