<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    placeholder="Filter"
    (keyup)="applyFilter($event)" />
</mat-form-field>

<mat-table [dataSource]="employees()">
  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.firstName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.lastName }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.email }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.phone }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.gender }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
