:root {
  --app-color-clothing-black: #000000;
  --app-color-clothing-blue: #0d6efd;
  --app-color-clothing-cyan: #0dcaf0;
  --app-color-clothing-green: #198754;
  --app-color-clothing-pink: #d63384;
  --app-color-clothing-purple: #6f42c1;
  --app-color-clothing-red: #dc3545;
  --app-color-clothing-teal: #20c997;
  --app-color-clothing-white: #ffffff;
  --app-color-clothing-yellow: #ffc107;
}
