html.cdk-global-scrollblock {
  overflow: hidden;
}

.rk-command-palette-backdrop {
  background-color: var(--app-scrim-color);
}

.rk-command-palette-panel {
  --_panel-opacity: 0;
  --_panel-transition-duration: 0.2s;

  content-visibility: hidden;
  opacity: var(--_panel-opacity);

  &[opened] {
    --_panel-opacity: 1;

    transition: opacity var(--_panel-transition-duration) ease-in-out;
    content-visibility: visible;
  }

  &[closing] {
    --_panel-opacity: 0;

    transition: opacity var(--_panel-transition-duration) ease-in-out;
    content-visibility: hidden;
  }
}
