button.mdc-button {
  border-radius: var(--app-shape-medium);
}

.mat-mdc-form-field {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: transparent !important;
  }
}

.mdc-text-field {
  padding-inline: 8px !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s !important;
}
