a.mdc-button,
button.mdc-button {
  border-radius: var(--app-shape-medium);

  &[color="accent"] {
    color: var(--app-color-text-dark-1);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s !important;
}

.mat-mdc-form-field-focus-overlay {
  display: none;
}

mat-table mat-row {
  &:hover {
    & mat-cell {
      /* border-color: var(--app-color-primary); */
      background: var(--app-color-background-hover);
      /* background: color-mix(in srgb, var(--app-color-accent), transparent 50%); */
      /* background: var(--app-color-accent); */
    }
  }
}

/* mat-option background */
.mdc-menu-surface {
  .mat-mdc-option.mdc-list-item {
    &:focus,
    &:hover:not(.mdc-list-item--disabled),
    &.mat-mdc-option-active,
    &.mdc-list-item--selected:not(.mat-mdc-option-multiple):not(.mdc-list-item--disabled) {
      background: var(--app-color-background-hover);
    }
  }
}
