:host {
  --_toggle-button-offset: 20px;

  display: block;
  block-size: calc(100% - var(--app-site-header-block-size));
}

.mat-drawer-container {
  position: static;
  block-size: 100%;
  background: var(--app-color-background);
}

.mat-drawer {
  @include mat.elevation(2);

  inline-size: 300px;
  background: var(--app-color-surface-2);
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
}

::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(189, 189, 189, 0.05);
}

::ng-deep .mat-drawer .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mat-drawer-content {
  position: relative;

  & section {
    block-size: 100%;
    padding-inline: var(--_toggle-button-offset);
    padding-block: var(--_toggle-button-offset);
  }
}

.drawer__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 16px;
  padding-block: 16px;

  & h3 {
    margin: 0;
  }
}

nav {
  & .nav-link {
    display: flex;
    align-items: center;
    inline-size: 100%;
    block-size: 48px;
    padding-inline: 18px;
    gap: 30px;
    color: var(--app-color-text-dark-1);

    &:focus,
    &:hover {
      outline: none;
      background: var(--app-color-background-hover);
    }

    &.active {
      color: var(--app-color-accent);
    }
  }
}
