<app-header
  [isAuthenticated]="isAuthenticated()"
  [userInitials]="userInitials()"
  (logout)="logout()"
  (searchClicked)="onSearchClicked()">
  <button
    *ngIf="isAuthenticated()"
    mat-icon-button
    (click)="drawerOpen.set(true)">
    <mat-icon>menu</mat-icon>
  </button>
</app-header>

<mat-drawer-container>
  <mat-drawer
    *ngIf="isAuthenticated()"
    mode="over"
    [(opened)]="isDrawerOpen">
    <div class="drawer__title">
      <h3>Site Links</h3>
      <button
        mat-icon-button
        aria-label="Close Drawer"
        tabindex="-1"
        (click)="drawerOpen.set(false)">
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>

    <nav>
      <a
        *rxFor="let route of routes()"
        class="nav-link"
        routerLinkActive="active"
        [routerLink]="route.path"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="drawerOpen.set(false)">
        <mat-icon>{{ route.data['icon'] }}</mat-icon>
        <span>{{ route.title }}</span>
      </a>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <section>
      <router-outlet />
    </section>
  </mat-drawer-content>
</mat-drawer-container>

<!-- <app-footer /> -->
