:host {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-gap: 2.2rem;
}

.mat-mdc-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--app-color-surface-2);
  border-radius: var(--app-shape-medium);
  padding-inline: 10px;
  transition: transform 200ms ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.mat-mdc-card-actions {
  display: flex;
  justify-content: space-between;
  padding-block: 10px;
}

.title {
  font-weight: 500;
}

.cost {
  font-size: 1.3em;
  font-weight: 500;
}

img {
  border-start-start-radius: var(--app-shape-large);
  border-start-end-radius: var(--app-shape-large);
  aspect-ratio: 1 / 1;
  clip-path: fill;
  filter: grayscale(0.8);
}
