<div class="filter-container">
  <mat-form-field>
    <mat-label>Products</mat-label>
    <mat-select
      [value]="selectedProductId()"
      (valueChange)="selectedProductId.set($event)">
      <mat-option
        *ngFor="let product of products()"
        [value]="product.id">
        {{ product.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-table
  [dataSource]="dataSource"
  matSort>
  <ng-container matColumnDef="product">
    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.product.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.quantity }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="size">
    <mat-header-cell *matHeaderCellDef>Size</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.size.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.price | currency }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <mat-header-cell *matHeaderCellDef>Transaction Date</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.dateCreated | date : 'MM/dd/yyyy' }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <!-- <mat-row *matNoDataRow>
    <mat-cell colspan="5">No Data</mat-cell>
  </mat-row> -->
</mat-table>

<mat-paginator
  aria-label="Select page of products"
  [length]="productTransactionTotalCount()"
  [pageSize]="10"
  [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
