:host {
  display: block;
  padding-inline: 20px;
  padding-block: 20px;
  container-type: inline-size;
}

mat-table,
mat-paginator {
  background: var(--app-color-surface-2);
}

mat-table {
  border-start-start-radius: var(--app-shape-small);
  border-start-end-radius: var(--app-shape-small);
  overflow: hidden;
  background: var(--app-color-surface-2);
}

mat-paginator {
  border-end-start-radius: var(--app-shape-small);
  border-end-end-radius: var(--app-shape-small);
}
