<mat-drawer-container>
  <mat-drawer
    #drawer
    mode="over"
    opened>
    <div class="drawer__title">
      <h3>Site Links</h3>
      <button
        mat-icon-button
        aria-label="Close Drawer"
        (click)="drawer.toggle()">
        <mat-icon>menu_open</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <app-header [isAuthenticated]="authService.isAuthenticated()">
      <button
        *ngIf="!drawer.opened"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </app-header>

    <section>
      <router-outlet />
    </section>

    <app-footer />
  </mat-drawer-content>
</mat-drawer-container>
