@use '@angular/material' as mat;
@use '@angular/cdk';

@include mat.core();

$theme-primary: mat.define-palette(mat.$deep-purple-palette, 400);
$theme-accent: mat.define-palette(mat.$green-palette);
$theme-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($theme);

@include mat.form-field-density(-2);
