<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <header><h1>Sign In</h1></header>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      name="email"
      formControlName="email"
      required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      name="password"
      type="password"
      formControlName="password"
      required />
  </mat-form-field>

  <footer>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="loginService.isLoading()">
      Sign In
    </button>
  </footer>
</form>
