:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

mat-table,
mat-paginator {
  background: transparent;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  border-bottom: none;
}
